h1{
 display: flex;
 justify-content: center;
 margin-top: 25px;
 font-size: 60px;
}

.first{
    max-width: 1180px;
 
  padding: 18px;
}

.second{
    max-width: 1180px;
   
}

.third{
    max-width: 1150px;
}
